<div class="dashboard-container d-flex">
  <% if current_user.ta %>

    <div class="dashboard-column">
      <h2 class="justify-content-center mt-4 mb-3">My Offers <%= link_to '+', new_offer_path, class: 'btn btn-primary' %></h2>
       <% @offers.each do |offer| %>
    <div class="card-product dashboard-offer">
      <!-- Image -->
      <%= image_tag offer.user.avatar_url%>

      <!-- Content -->
      <div class="card-product-infos">
        <!-- User's Offer Page -->
        <h2><%= offer.user.first_name %></h2>

        <!-- Specialty -->
        <p><strong>Specialty:</strong> <%= offer.specialty %></p>

        <!-- Price -->
        <p><strong>Price:</strong> <%= offer.price %></p>

        <%= link_to offer_path(offer) do %>
          <p><strong>Click here and receive a potato</strong></p>
        <% end %>
      </div>
    </div>
  <% end %>
    </div>

    <div class="dashboard-column">
    <h2 class="justify-content-center">Pending Bookings</h2>
    <div class="container">
      <% @pending_bookings.each do |booking|%>
        <div class="card-product dashboard-offer" style="width: 18rem;">
          <div class="card-body pending-booking-card">
            <h5 class="card-title">From: <%= booking.start_date.strftime("%m/%d/%Y")%> To: <%= booking.end_date.strftime("%m/%d/%Y")%> </h5>
            <p class="card-text">Status: <%= booking.confirmation.capitalize%></p>
            <p class="card-text">Name: <%= booking.user.first_name.capitalize %></p>
            <div class="d-flex status-buttons">
              <% if booking.confirmation == "pending" %>
                <%= link_to "accept", accept_booking_path(booking), data: {turbo_method: :patch}, class: "btn btn-primary"  %>
                <%= link_to "decline", decline_booking_path(booking), data: {turbo_method: :patch}, class: "btn btn-primary"  %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  <% end %>

  <div class="dashboard-column">
    <h2 class = "d-flex justify-content-center">bookings</h2>
    <div class="container d-flex justify-content-center align-items-center">
      <% if @bookings.present? %>
        <% @bookings.each do |booking|%>
          <div class="card-product dashboard-offer" style="width: 18rem;">
            <div class="card-body pending-booking-card">
              <h5 class="card-title">From: <%= booking.start_date.strftime("%m/%d/%Y")%> To: <%= booking.end_date.strftime("%m/%d/%Y")%> </h5>
              <p class="card-text">Status: <%= booking.confirmation.capitalize%></p>
              <p class="card-text">Name: <%= booking.user.first_name.capitalize %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>You have no bookings..</p>
      <% end %>
    </div>
  </div>
</div>
