<h1>Here are your available TAs</h1>
<h2>Choose wisely...</h2>

<div class="card-product-container">
  <% @offers.each do |offer| %>
    <div class="card-product">
      <!-- Image -->
      <%= image_tag offer.user.avatar_url  %>
      <!-- Content -->
      <div class="card-product-infos">
        <!-- User's Offer Page -->
        <h2><%= offer.user.first_name %></h2>

        <!-- Specialty -->
        <p><strong>Specialty:</strong> <%= offer.specialty %></p>

        <!-- Price -->
        <p><strong>Price:</strong> <%= offer.price %></p>

        <%= link_to offer_path(offer) do %>
          <p><strong>Click here and receive a potato</strong></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
