<h1>Here are your available TAs</h1>
<h2>Choose wisely...</h2>

<div class="card-product-container">
  <% @offers.each do |offer| %>
    <div class="card-product">
      <!-- Image -->
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Product Image">

      <!-- Content -->
      <div class="card-product-infos">
        <!-- User's Offer Page -->
        <h2><%= offer.user.first_name %>Offer Page</h2>

         <!-- Specialty -->
        <p><strong>Specialty:</strong> <%= offer.specialty %></p>

        <!-- Price -->
        <p><strong>Price:</strong> <%= offer.price %></p>

        <!-- Availability -->
        <p><strong>Availability:</strong> <%= offer.available %></p>
      </div>
       <p><%= link_to "#{offer.user.first_name}'s offer", offer_path(offer)%></p>
    </div>
  <% end %>
</div>

