<h1><%= @offer.user.first_name %>'s offer page</h1>
<h3><%= @offer.specialty %></h3>
<p><%= @offer.price %></p>
<p><%= @offer.available %></p>

<<<<<<< HEAD

<% @offer.bookings.each do |booking| %>
<%= booking.start_date %>
<%= booking.user.first_name %>
<%= link_to "accept", accept_booking_path(booking), data: {turbo_method: :patch}  %>
<%= link_to "decline", decline_booking_path(booking), data: {turbo_method: :patch}  %>
<% end %>

=======
<%= link_to "Book now", new_offer_booking_path(@offer)%>
>>>>>>> master
