<div class="container">
 <div class="card w-50 offer_card">
  <div class="d-flex flex-column align-items-center">
    <%= image_tag @offer.user.avatar_url, class: "avatar_image" %>
    <h1><%= @offer.user.first_name %></h1>
    </div>
    <p> Specialty: <%= @offer.specialty %></p>
    <p> Price: <%= @offer.price %>€</p>
    <%= link_to "Book now", new_offer_booking_path(@offer), class: "btn btn-outline-success", style:"width:116px"%>
     <%= link_to "back", offers_path, class: "outside-card-button"%>
  </div>

</div>
